# diretorios de dependencias
node_modules/

# Node logs
logs
*.log
npm-debug.log*

#Editores 
.vscode/

#Arquivos compilados
dist/

#sites interessantes
#https://blog.sicara.com/a-progressive-web-application-with-vue-js-webpack-material-design-part-1-c243e2e6e402

#Configuração do launch

# {
#      "type": "node",
#      "request": "attach",
#      "name": "Attach",
#      "port": 9999,
#      "timeout": 500000,
#      "protocol": "inspector",
#      "sourceMaps": true,
#      "restart": true,
#      "stopOnEntry": false
#    },
#    {
#      "type": "node",
#      "request": "launch",
#      "name": "Launch via NPM",
#      "runtimeExecutable": "npm",
#      "runtimeArgs": [
#        "run-script",
#        "dev"
#      ],
#      "port": 9999,
#      "stopOnEntry": false,
#      "restart": true,
#      "console": "integratedTerminal",
#      "timeout": 500000
#    }

#Configuração do usuário

#  {
#    "workbench.iconTheme": "material-icon-theme",
#    "editor.tabSize": 2,
#    "files.autoSave": "afterDelay",
#    "files.autoSaveDelay": 50000,
#    "material-icon-theme.showUpdateMessage": false,
#    //"terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\cmd.exe",
#    "window.zoomLevel": -1,
#    "editor.renderWhitespace": "all",
#    "editor.renderIndentGuides": false,
#    "editor.cursorStyle": "line-thin",
#    "editor.cursorBlinking": "phase",
#    "editor.quickSuggestionsDelay": 100,
#    "explorer.confirmDelete": false,
#    "terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\powershell.exe",
#    "typescript.tsdk": "C:\\Users\\Santri\\AppData\\Roaming\\npm\\node_modules\\typescript\\lib",
#    //"typescript.validate.enable": false,
#    "git.autofetch": true,
#    "gitlens.advanced.messages": {
#      "suppressCommitHasNoPreviousCommitWarning": false,
#      "suppressCommitNotFoundWarning": false,
#      "suppressFileNotUnderSourceControlWarning": false,
#      "suppressGitVersionWarning": false,
#      "suppressLineUncommittedWarning": false,
#      "suppressNoRepositoryWarning": false,
#      "suppressUpdateNotice": true,
#      "suppressWelcomeNotice": true
#    },
#    "editor.minimap.enabled": false
#  }

